@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body
{     
    margin: 0;  
    padding: 0;
    box-sizing: border-box;                                                                                                
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
p
{
    font-weight: 300;
    color: #111;
}

.banner
{
    position: relative;
    width:100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: url(./img/principios-da-contabilidade.jpg);
    background-size: cover;
}
.banner .content
{
    max-width:900px;
    text-align: center;
}
.banner .content  h2
{
font-size: 5em;
color:#fff;

}
.banner .content  p
{
font-size: 1em;
color:#fff;
}
.btn
{
font-size: 1em;
color: #fff;
background: #ff0157;
display: inline-block;
padding: 10px 30px;
margin-top: 20px;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 2px;
transition: 0.5s;
}
.btn:hover
{
    letter-spacing: 6px;
}
header
{
    position: fixed;
    top:0;
    left: 0;
    width: 90%;
    padding: 40px 100px ;
    z-index:10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;

}
header.sticky
{
    background: #fff;
    padding: 10px 100px;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);
}
header.sticky .logo
{
color: #111;
}
header .logo
{
    color: #fff;
    font-weight:700;
    font-size:2em;
    text-decoration: none;
}
header .logo span
{
    color:#ff0157
}
header .navigation
{
    position: relative;
    display: flex;

}
header .navigation.active
{
width: 100%;
height: 100%;
position:fixed;
top:0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background: #fff;
}
header .navigation li
{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a
{
    text-decoration:none;
    color:#fff;
    font-weight: 300;
}
header.sticky .navigation li a
{
color:#111;
}
header .navigation li a:hover
{
color:#ff0157;
}
/*parte refernte os produtos*/
.sistema{
    width: 100%;
    height:70ch;

}
.sistema h1{
    text-align: center;
}
.cadastro{
    position: relative;
    width: 100%;
    /*margin-left: 4ch;*/
    height: 80%;
    background: #002;
    border-radius: 30px;
    display: flex;
   
}
.produto{
    display: block;
    margin: 6ch;
    background:#fff;
    width: 25%;
    height: 80%;
    border-radius: 10px;

}
.produto input{
    border: none;
    display: block;
    width: 20ch;
    margin: 2ch;

}
.produto hr{
    position: relative;
    top: -3%;
    left: -20%;
    width: 52%;
}
.produto span{
    margin: 1ch;




}

table th{
    width: 30ch;
    border: 1px solid;
    
}
.produtoT{
    display:flex;
    margin: 6ch;
    background:#fff;
    height: 80%;
    border-radius: 10px;
}
.produton{
    position:relative;
    display:flex;
    margin:1ch;
    background:#fff;
    height:80%;
    border:1px solid #001;
}

.copyrightText
{
  
    padding: 8px 40px;
    border-top:1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.copyrightText p
{
    color: #333;

}
.copyrightText a
{
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
    
}
@media (max-width:1000px){

    .cadastro{
        display: block;

        height: auto;

    }
    .produto{
        display: block;
        margin: 6ch;
        background:#fff;
        width: 25ch;
        height: 80%;
        border-radius: 10px;
    
    }
    .produtoT{
        display: block;
        position: relative;
        margin-top:90ch ;
    }
    .fre{
        position: relative;
        width: 100%;
        margin-top: -4ch;
        border-radius: 10px;
        background: #002;
        color: #fff;

    }
    .fre span{
        margin-left: 40%;
    }
    .fre input{
        position: relative;
        display: block;
        margin-left: 25%;

    }
  



}